
ul
{
 list-style-type: none;
}

 button
{
  background-color: #000000;
  color: white;
  border: 0px solid black;
  border-radius: 10%;
  width: 64px;
}
.header-container {
  margin: 0px;
  height: 50px;
  display: flex;
  border: 1px solid grey;
  width: 100%;

  flex-wrap: wrap;
}

.flexbox
{
  display: flex;
  margin: 0 0 0 0;

}
.left-nav {
  display: flex;
  flex: 2;
}
.left-logo {
  flex: 1;
  font-family: 'Libre Franklin', sans-serif;
  font-size: 14px;
  font-weight: bold;

}

.left-logo a
{
  color: #000000;
  text-decoration: none;
}

.left-logo a:hover
{
  text-decoration: underline;
}
.menu {
  flex: 0.1;
}
.search {
  flex: 0.1;
}
.logo-nav {
  display: flex;
  flex: 1;
}
.logo-container {
flex : 1;
}
.logo
{
  width: 160px;
  height: 32px;
}

.right-nav {
  display: flex;
  flex: 2;
  justify-content: flex-end;
}
.login {
  height: 35px;
  width: 60px;
  background-color: black;
  text-align: center;
  color: white;
}
.right-logo {
  margin-right: 10px;
  font-family: 'Libre Franklin', sans-serif;
  font-size: 14px;
  font-weight: bold;
}

.right-logo a {

  color: #000000;
}
